.singleItem {
  min-height: 80vh;
}
.singleItem .singleItemDetails {
  text-align: center;
}

.singleItem .singleItemDetails img {
  max-width: 400px;
  border-radius: 20px;
  margin-inline: auto;
  object-fit: cover;
}

.singleItem .singleItemDetails .singleItemContent {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.singleItem .singleItemDetails .singleItemContent p {
  color: var(--orange);
  font-weight: 600;
  font-size: 2rem;
  font-family: var(--headerFF);
}

.singleItem .singleItemDetails .singleItemContent p span,
.singleItem .singleItemDetails .singleItemContent p a {
  color: var(--bodyTextColor);
  font-weight: 500;
  font-size: 1.6rem;
  margin-top: 0.8rem;
  line-height: 1.8;
  font-family: var(--bodyFF);
}

.preparation {
  text-align: justify;
}
.singleItem .singleItemDetails .singleItemContent p a {
  color: rgb(0, 91, 196);
}

@media (max-width: 450px) {
  .singleItem .singleItemDetails img {
    max-width: 100%;
  }
}
